<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>No encontrado</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>Artículo no encontrado</h1>
    <a href="/items">← Volver al Catálogo</a>
</body>
</html>
