<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Ofertas</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Lista de Ofertas</h1>
    <a href="/offers/new">Crear Nueva Oferta</a>
    <hr>

    {{#offers}}
        <ul>
            {{#.}}
            <li>
                <strong>{{itemName}}</strong> (Oferta ID: {{id}}) - ${{offerPrice}}
                <p>Usuario: {{offerUser}}</p>
            </li>
            {{/.}}
        </ul>
    {{/offers}}

    {{^offers}}
        <p>No hay ofertas registradas.</p>
    {{/offers}}
</body>
</html>
